# vim as default
export EDITOR="code"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# eza theme lives in ~/.config/eza/theme.yml (macOS default is ~/Library/Application Support/eza)
# LS_COLORS would override it (oh-my-zsh sets a default one)
export EZA_CONFIG_DIR="$HOME/.config/eza"
unset LS_COLORS

export NVM_DIR="$HOME/.nvm"
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion


export PATH="$(brew --prefix)/opt/curl/bin:$PATH"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# lolcommits

# outsourced to home, so not every picture gets uploaded. Project folder is being added automatically.
export LOLCOMMITS_DIR=$HOME/Desktop/lolcommits
# MACBook Camera needs to warm up. 3 would be better, but 2 is acceptable.
export LOLCOMMITS_DELAY=2

# NVM dark mode colors
export NVM_COLORS='cgYmW'
