[alias]
	b = branch
	c = commit -am
	fpush = push --force
	s = status
	sclone = clone --depth=1
	amend = commit --amend --all
	undocommit = reset HEAD~
	hreset = reset --hard
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	reup = rebase-update # depot_tools specific
	git = !exec git

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim

[pager]
	# insanely beautiful diffs ==> npm install -g diff-so-fancy
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX

[interactive]
  # disabled until github.com/so-fancy/diff-so-fancy/pull/172 is resolved :(
	# diffFilter = "diff-so-fancy"

# so much color
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
    newMoved = cyan
	oldmoved = blue
[color "diff-highlight"]
	oldNormal = red bold
	oldhighlight = red bold 52
	newNormal = "green bold"
	newhighlight = green bold 22
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

# colour blame metadata by age: old = dim grey ... last week = green (github dark palette)
[blame]
	coloring = highlightRecent
	date = relative
[color "blame"]
	highlightRecent = 243, 18 month ago, 246, 6 month ago, 252, 1 month ago, 111, 1 week ago, 114

# git mergetool
[merge]
	tool = opendiff
	renameLimit = 0
	ff = only

# GITHUB =======

# work SPECIFIC

# # rewrites of repo paths
# [url "git@github.com:"]
# 	insteadOf = "https://github.com/"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"
# 	pushInsteadOf = "https://github.com/"

# [url "git://github.com/"]
# 	insteadOf = "github:"

# [url "git@gist.github.com:"]
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"

# [url "git://gist.github.com/"]
# 	insteadOf = "gist:"

# work SPECIFIC - NEW
# https://work.example.com/workgit/get-started/fragments/vpn-macos-git
[credential]
	helper = store

[http "https://work.example.com"]
	proxy = http://work.example.com:80

[url "https://work.example.com/"]
	insteadOf = workgit:
[url "https://work.example.com/"]
	insteadOf = work.example.com:
[url "https://work.example.com/"]
	insteadOf = git@work.example.com:
[url "https://work.example.com/"]
	insteadOf = ssh://git@work.example.com/

[http "https://github.com"]
	proxy = http://work.example.com:81
	sslCAinfo = ~/work-cert/work-root-ca.crt

[url "https://github.com/"]
	insteadOf = github.com:
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/

[http "https://gitlab.com"]
	proxy = http://work.example.com:81
	sslCAinfo = ~/work-cert/work-root-ca.crt

[url "https://gitlab.com/"]
	insteadOf = gitlab.com:
[url "https://gitlab.com/"]
	insteadOf = git@gitlab.com:
[url "https://gitlab.com/"]
	insteadOf = ssh://git@gitlab.com/

# correct typos
[help]
	autocorrect = 1

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[fetch]
	prune = true

[diff]
    # Show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
    # https://blog.github.com/2018-04-05-git-217-released/
    colorMoved = zebra

[stash]
	showPatch = true

[pull]
	rebase = true

[branch]
  autosetuprebase = always

[url "workgit:"]
	insteadof = https://work.example.com/

# work identity by default
[user]
	name = lpuharic1
	email = work@example.com

# personal identity / github token / etc for repos under ~/GitHub, overrides the work [user] above
[includeIf "gitdir:~/GitHub/"]
  path = ~/.gitconfig.local
